.insert-update-house-container {
    margin: 80px 180px;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 768px){
    .insert-update-house-container{
        margin: 50px 20px;
    }
}